<footer class="bg-ltgry dkgry mt4 tc">
  <div class="content pt2 pb2">
  <div class="media">
    <div class="bd">
      <h1 class="ss caps f5">About</h1>
      <p class="f4">
        <img class="mw1 mb2" src="{{site.url}}/images/me.png" alt="Davetron5000" />
        <span class="f3 db tc mb2">I'm Dave Copeland, a programmer and author.</span>
        I wrote
        <a href="http://pragprog.com/book/dccar/build-awesome-command-line-applications-in-ruby"
          title="Build Awesome Command Line Applications in Ruby">
          “Build Awesome Command-Line Applications in Ruby" </a> , and have over 16 years of
        professional development experience. I've managed high-performance, high-traffic
        systems at LivingSocial and helped build the engineering team at Opower. I've
        worked consulting gigs both large and small, commercial and government. I'm
        currently a lead engineer at fashion start-up
        <a href="http://stitchfixjobs.com" title="Stitch Fix is hiring">Stitch Fix</a>,
        building a platform that will change the retail shopping experience.
      </p>
      <p class="f4">I live in Washington, DC with my lovely wife and needy cat.</p>
    </div>
  </div>
  </div>
</footer>
