  <header class="borbo bor-gry bg-ltgry bg-img tc p2 mb4">
    <h1 class="mega f4 ss caps"><a href="{{site.url}}" title="Home - The Senior Software Engineer" class="title">
      <span class="f6">The </span> <br />
      Senior Software Engineer <br />
    </a>
    </h1>
    <h2 class="i f4 thin mdgry ts">A guide for making the most of your career</h2>
    <p class="small s ttl thin mb2 ts">By David Bryant Copeland</p>
    <a rel="nofollow" href="{{site.buy_link}}" title="Buy Now for $25" class="b dib ss btn-link p1 caps">Buy Now $25
      <span class="ttl ls1 small gry db s i f6">Instantly download as PDF/MOBI/ePub</span>
    </a>
  </header>
