  <div class="borbo bor-gry bg-ltgry tc p2 bg-img"></div>
  <header class="borbo bor-gry bg-ltgry tc p2 mb4">
    <h1 class="mega f4 ss caps"><a href="{{site.url}}" title="Home - The Senior Software Engineer" class="title">
      <span class="f6">The </span> <br />
      Senior Software Engineer <br />
    </a>
    </h1>
    <h2 class="i f4 thin mdgry ts">11 Practices of an Effective Technical Leader</h2>
    <p class="small s ttl thin mb2 ts">By David Bryant Copeland</p>
    <a rel="nofollow" href="{{ site.buy_link }}" title="Buy Now for ${{ site.price }}" class="b dib ss btn-link p1 caps">Buy Now ${{ site.price }}
      <span class="ttl ls1 small gry db s i f6">Instantly download as PDF/MOBI/ePub</span>
    </a>
    <nav class="db">
      <ul class="list list-inline">
        <li>
          <a href="https://www.createspace.com/4879650"
            title="Print Version of The Senior Software Engineer"
            rel="nofollow"
            class="ttl ls1 small s i f4 mt1">Buy it in Print for $19.99</a> •
        </li>
        <li>
          <a href="http://pragprog.com/book/dccar2/build-awesome-command-line-applications-in-ruby-2"
            title="Build Awesome Command Line Applications in Ruby 2"
            rel="nofollow"
            class="ttl ls1 small s i f4 mt1">Looking for my command-line book?</a>
        </li>
      </ul>
    </nav>
  </header>
