<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body>
  <div class="borbo bor-gry bg-ltgry tc p2 bg-img"></div>
  <header class="borbo bor-gry bg-ltgry tc p2 mb4">
    <h1 class="mega f4 ss caps"><a href="{{site.url}}" title="Home - The Senior Software Engineer" class="title">
      <span class="f6">The </span> <br />
      Senior Software Engineer <br />
    </a>
    </h1>
    <p class="small s ttl thin mb2 ts">By David Bryant Copeland</p>
  </header>
    {{ content }}
    {% include _footer.html %}
  </body>
</html>
